#contactpage {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


#tactofo {
  display: inline-block;
  /*background-color: red;*/
  height: auto;
  width: 25%;
  text-align: center;
  margin-top: 100px;
  overflow: auto;
  font-family: Bentham;
  font-size: 22px;
  margin-right: 150px;
}

.tachead {
  font-weight: bold;
}

#fname, #lname {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#email {
    width: 239%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

#message {
    width: 202%;
    height: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

label {
  font-family: Bentham;
  font-size: 18px;
}

#tactimp {
  display: inline-block;
  /*background-color: pink;*/
  height: 650px;
  width: 35%;*
  margin: 0 auto;
  margin-top: 100px;
  overflow: auto;
}

#contactme {
  font-size: 19.5px;
  font-family: Alegraya;
}

#tactimg {
  text-align: center;
}

#tactweeg {
  border: 10px solid black;
  border-radius: 150px;
  margin-top: 25px;
}
