/* NAVIGATION PART OF SITE */
html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #F2F2F2;
    /*overflow-y: hidden;*/
}

#nav {
  width: 100%;
  background-color: black;
  background-image: url('images/temp6.jpg');
  height: 625px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Bitter', serif;
}

#logo {
  height: 125px;
  width: 125px;
  position: absolute;
  left: 20px;
  top: 20px;
}

ul {
  list-style-type: none;
}

#welcome {
  font-size: 100px;
  color: black;
  padding-top: 50px;
  text-shadow: 2px 2px white;
}

.atag {
  border: 3px solid black;
  display: inline-block;
  color: black;
  /*text-shadow: 1px 1px white;*/
  font-size: 18px;
  background-color: rgba(255, 252, 255, 0.5);
  margin-left: 90px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 37px;
  padding-right: 37px;
  font-family: 'Bitter', serif;
  font-weight: bold;
  -o-transition:color .15s ease-out, background .15s ease-in;
  -ms-transition:color .15s ease-out, background .15s ease-in;
  -moz-transition:color .15s ease-out, background .15s ease-in;
  -webkit-transition:color .15s ease-out, background .15s ease-in;
}

.viewbuttons {
  border: 3px solid black;
  display: inline-block;
  color: black;
  font-size: 18px;
  background-color: rgba(255, 252, 255, 0.5);
  font-family: 'Bitter', serif;
  font-weight: bold;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 30px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  -o-transition:color .15s ease-out, background .15s ease-in;
  -ms-transition:color .15s ease-out, background .15s ease-in;
  -moz-transition:color .15s ease-out, background .15s ease-in;
  -webkit-transition:color .15s ease-out, background .15s ease-in;
}

#atag2 {
  padding-left: 33.4px;
  padding-right: 33.4px;
}

#atag3 {
  padding-left: 21px;
  padding-right: 21px;
}

#buttons {
  margin-bottom: 0px;
  /*background-color: rgba(124, 124, 124, 0.6);*/
  position: absolute;
  width: 96.6%;
  top: 300px;
  text-align: center;


}

a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

/* INFORMATION SECTION OF SITE */
#aboutme {
  width: 100%;
  margin-top: 135px;
  text-align: center;
}

#aboutmebody {
  width: 100%;
  text-align: center;
}

.intro {
  font-family: Bentham;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.intro2 {
  font-family: Bentham;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 150px;
}

#introbody {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Alegreya;
  font-size: 20px;
}

#weeg {
  margin-top: 50px;
  border: 15px solid black;
  border-radius: 150px;
  width: 250px;
  height: 295px;
}

.homehr {
  width: 55%;
}

#linksinfohead {
  margin-top: 135px;
}

#linksinfo {
  margin: 0 auto;
  width: 45%;
  margin-top: 50px;
}

#linksinfo2 {
  margin: 0 auto;
  width: 45%;
  margin-top: 5px;
}

#logo2 {
  width: 125px;
  height: 125px;
  margin-left: 30px;
  margin-bottom: 50px;
}

#logo3 {
  width: 220px;
  height: 220px;
  /*margin-top: */
}

#texthold {
  display: inline-block;
  width: 60%;
  margin-left: 110px;
  margin-bottom: 20px;
  font-size: 19.5px;
  font-family: bentham;
}

#texthold2 {
  display: inline-block;
  width: 60%;
  margin-left: 110px;
  margin-bottom: 170px;
  margin-top: 0px;
  font-size: 21px;
  font-family: Alegreya;
}

em {
  font-family: 'Passion One', cursive;
  font-size: 40px;
  font-weight: bold;
  color: #3D3D3D;
  text-shadow: 1px 1px white;
}

#newhr {
  width: 65%;
}

.abouthr {
  border: none;
  width: 45%;
  height: 5px;
  color: #3D3D3D;
  background-color: #3D3D3D;
  margin-bottom: 0px;

}

#picholder {
  width: 100%;
}

.bubbletext {
  margin-top: 58px;
  font-size: 40px;
  opacity: 0;
  -webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
  font-family: 'Passion One', cursive;
  color: white;
  text-shadow: 1.5px 1.5px black;
   /*-o-transition:opacity .40s ease-out, translateY .40s ease-in;
   -ms-transition:opacity .40s ease-out, translateY .40s ease-in;
   -moz-transition:opacity .40s ease-out, translateY .40s ease-in;
   -webkit-transition:opacity .40s ease-out, translateY .40s ease-in;*/
}

#img1 {
  margin-left: 30px;
  margin-right: 30px;
  width: 225px;
  height: 225px;
  display: inline-block;
  background-image: url("images/shum.png");
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#img1:hover {
  background-image: url("images/shumblur.png");
}

#img1:hover .bubbletext {
  opacity: 1;
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
   transform: translateY(40px);
}

#img2 {
  margin-left: 30px;
  margin-right: 30px;
  width: 225px;
  height: 225px;
  display: inline-block;
  background-image: url("images/lewi.png");
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#img2:hover {
  background-image: url("images/lewiblur.png");
}

#img2:hover .bubbletext {
  opacity: 1;
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
   transform: translateY(40px);
}

#img3 {
  margin-left: 30px;
  margin-right: 30px;
  width: 225px;
  height: 225px;
  display: inline-block;
  background-image: url("images/reddit.png");
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#img3:hover {
  background-image: url("images/redditblur.png");
}

#img3:hover .bubbletext {
  opacity: 1;
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
   transform: translateY(40px);
}

.picturebox {
  margin: 0 auto;
}

#divception {
  margin: 0 auto;
  width: 65%;
  text-align: center;
  margin-top: 50px;
}

.projtexthold {
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.buttonhold {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.projpara {
  width: 200px;
  height: 225px;
  display: inline-block;
}

#para1 {
  margin-left: 42.5px;
  margin-right: 42.5px;
}

#para2 {
  margin-left: 42.5px;
  margin-right: 42.5px;
}

#para3 {
  margin-left: 42.5px;
  margin-right: 42.5px;
}

/* FOOT STUFF */
#FOOT {
  width: 100%;
  height: 300px;
  background-color: #3D3D3D;
  margin-top: 150px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 20px;
  color: #C1C1C1;
}

#footlogo {
  width: 75px;
  height: 75px;
  margin-top: 30px;
}

#icontainer {
  margin: 0 auto;
}

#mediahead {
  margin-right: 20px;
  position: absolute;
  right: 0px;
  top: 40px;
}

#twitter2 {
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url('images/icons/twitter2.png');
  display: inline-block;
  -o-transition:color .125s ease-out, background-image .125s ease-in;
  -ms-transition:color .125s ease-out, background-image .125s ease-in;
  -moz-transition:color .125s ease-out, background-image .125s ease-in;
  -webkit-transition:color .125s ease-out, background-image .125s ease-in;
}

#github2 {
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url('images/icons/github2.png');
  display: inline-block;
  -o-transition:color .125s ease-out, background-image .125s ease-in;
  -ms-transition:color .125s ease-out, background-image .125s ease-in;
  -moz-transition:color .125s ease-out, background-image .125s ease-in;
  -webkit-transition:color .125s ease-out, background-image .125s ease-in;
}

#facebook2 {
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url('images/icons/facebook2.png');
  display: inline-block;
  -o-transition:color .125s ease-out, background-image .125s ease-in;
  -ms-transition:color .125s ease-out, background-image .125s ease-in;
  -moz-transition:color .125s ease-out, background-image .125s ease-in;
  -webkit-transition:color .125s ease-out, background-image .125s ease-in;
}

#reddit2 {
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url('images/icons/reddit2.png');
  display: inline-block;
  -o-transition:color .125s ease-out, background-image .125s ease-in;
  -ms-transition:color .125s ease-out, background-image .125s ease-in;
  -moz-transition:color .125s ease-out, background-image .125s ease-in;
  -webkit-transition:color .125s ease-out, background-image .125s ease-in;
}

#skype2 {
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url('images/icons/skype2.png');
  display: inline-block;
  -o-transition:color .125s ease-out, background-image .125s ease-in;
  -ms-transition:color .125s ease-out, background-image .125s ease-in;
  -moz-transition:color .125s ease-out, background-image .125s ease-in;
  -webkit-transition:color .125s ease-out, background-image .125s ease-in;
}


#twitter {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('images/icons/twitter.png');
  display: inline-block;
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#github {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('images/icons/github.png');
  display: inline-block;
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#facebook {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('images/icons/facebook.png');
  display: inline-block;
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#reddit {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('images/icons/reddit.png');
  display: inline-block;
  -o-transition:color .25s ease-out, background-image .25s ease-in;
  -ms-transition:color .25s ease-out, background-image .25s ease-in;
  -moz-transition:color .25s ease-out, background-image .25s ease-in;
  -webkit-transition:color .25s ease-out, background-image .25s ease-in;
}

#skype {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url('images/icons/skype.png');
  display: inline-block;
  -o-transition:color .15s ease-out, background-image .15s ease-in;
  -ms-transition:color .15s ease-out, background-image .15s ease-in;
  -moz-transition:color .15s ease-out, background-image .15s ease-in;
  -webkit-transition:color .15s ease-out, background-image .15s ease-in;
}

#copyright {
  font-size: 12px;
  font-family: 'Bitter', serif;
  color: #C1C1C1;
  margin-top: 40px;
}

#twitter:hover {
  background-image:url('images/icons/hover/twitterhover.png');
}

#github:hover {
  background-image:url('images/icons/hover/githubhover.png');
}

#facebook:hover {
  background-image:url('images/icons/hover/facebookhover.png');
}

#reddit:hover {
  background-image:url('images/icons/hover/reddithover.png');
}

#skype:hover {
  background-image:url('images/icons/hover/skypehover.png' );
}

#twitter2:hover {
  background-image:url('images/icons/hover/twitterhover2.png');
}

#github2:hover {
  background-image:url('images/icons/hover/githubhover2.png');
}

#facebook2:hover {
  background-image:url('images/icons/hover/facebookhover2.png');
}

#reddit2:hover {
  background-image:url('images/icons/hover/reddithover2.png');
}

#skype2:hover {
  background-image:url('images/icons/hover/skypehover2.png' );
}
