<div id="linksinfohead">
  <p class="intro">What is 7Links?</p>
  <hr id="newhr"></hr>
</div>
<div id="linksinfo">
  <img id="logo3" src="images/logo.png"/>
    <p id="texthold2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<hr class="abouthr"></hr>
<div id="linksinfo2">
  <!-- <p class="sectionhead">DESIGN</p> -->
  <img id="logo2" src="images/design.png"/>
  <p id="texthold"><em>DESIGN</em><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
</div>
<hr class="abouthr"></hr>
<div id="linksinfo2">
  <!-- <p class="sectionhead">GRAPHICS</p> -->
  <img id="logo2" src="images/illustrator.png"/>
  <p id="texthold"><em>GRAPHICS</em><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
</div>
<hr class="abouthr"></hr>
<div id="linksinfo2">
  <!-- <p class="sectionhead">COST</p> -->
  <img id="logo2" src="images/money.png"/>
  <p id="texthold"><em>COST</em><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
</div>
