<div id="contactpage">
  <div id="tactofo">
    <div>
      <h1 class = "tachead">Contact me</h1>
      <p id="contactme">If you have any questions or concerns regarding me or any of the services I offer, feel free to fill out this form and I'll get back to you as soon as I can :^)</p>
    </div>
    <div id="tactimg">
      <img id="tactweeg" src="images/tactweeg.jpg"/>
    </div>
    <div>
      <h1 class = "tachead">Additional information</h1>
      <p id="contactme">Additionally, you can reach out to me by email at: 'eightpears@gmail'.
        <br><br> You can also call me directly at: <br>(248) 930-7337.</p>
    </div>
  </div>
  <div id="tactimp">
    <div style="float:left;margin-right:20px;">
        <label style="float:left;" for="fname">First Name</label>
        <input type="text" id="fname" name="firstname">
    </div>
    <div style="float:left">
        <label style="float:left;" for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname">
    </div>
    <br style="clear: both;">
    <div style="float:left;">
        <label style="float:left;" for="email">Email</label>
        <input type="text" id="email" name="email">
    </div>
    <br style="clear: both;">
    <div style = "float:left;">
        <label style="float:left;" for="message">Your Message</label>
        <textarea type="text" id="message" name="message"></textarea>
    </div>
    <a id="sendbutton">SEND</a>
  </div>
</div>
