<!-- About me -->
<div id="aboutme">
    <p class="intro">Introduction</p>
    <hr class="homehr"></hr>
    <img id="weeg" src="images/weeg2.png"/>
  </div>
<div id="aboutmebody">
    <div id="introbody">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum.</div>
</div>
<div class="buttonhold">
  <a href="resume.html" class="viewbuttons">MY RESUME</a>
</div>

<div id="projecthead">
  <p class="intro2">Projects I'm working on</p>
<hr class="homehr"></hr>
</div>
<div id="picholder">
  <div id="divception">
    <div class="picturebox" id="img1">
      <p class="bubbletext">SHUMYLO</p>
    </div>
    <div class="picturebox" id="img2">
      <p class="bubbletext">7LINKS</p>
    </div>
    <div class="picturebox" id="img3">
      <p class="bubbletext">REDDIT</p>
    </div>
  </div>
  <div class="projtexthold">
      <p class="projpara" id="para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="projpara" id="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="projpara" id="para3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="buttonhold">
  <a href="#" class="viewbuttons">SEE PROJECT</a>
  <a href="#" class="viewbuttons">SEE PROJECT</a>
  <a href="#" class="viewbuttons">SEE PROJECT</a>
</div>
